<div class="scrollableContainer">
  <a href="#products/" class="buttonBar selected">
    Freestyle Painting Canvases
    <div class="arrow white left"></div>
  </a>
  <a href="#products/1/1" class="buttonBar white">
    Mini
    <div class="rating">
      <span class="star fill"></span>
      <span class="star fill"></span>
      <div class="half"><span class="star fill"></span></div>
      <div class="half"><span class="star"></span></div>
      <span class="star"></span>
      <span class="star"></span>
    </div>
    <div class="comments">
      <div class="icon"></div>
      <div class="count">5</div>
    </div>
    <div class="arrow black right"></div>
  </a>
  <a href="#products/1/2" class="buttonBar white">
    Solo
    <div class="rating">
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star"></span>
      <span class="star"></span>
    </div>
    <div class="arrow black right"></div>
  </a>
  <a href="#products/1/3" class="buttonBar white">
    Mid
    <div class="rating">
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star fill"></span>
    </div>
    <div class="arrow black right"></div>
  </a>
  <a href="#products/1/4" class="buttonBar white">
    Full
    <div class="rating">
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star"></span>
    </div>
    <div class="arrow black right"></div>
  </a>
  <a href="#products/1/5" class="buttonBar white">
    Long
    <div class="rating">
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
    </div>
    <div class="arrow black right"></div>
  </a>
  <a href="#products/1/6" class="buttonBar white">
    Preloved Canvas
    <div class="rating">
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star fill"></span>
      <span class="star"></span>
      <span class="star"></span>
    </div>
    <div class="arrow black right"></div>
  </a>
</div>