<div class="scrollableContainer">
  <a href="#products/" class="buttonBar selected">
    Freestyle Painting Canvases
    <div class="arrow white left"></div>
  </a>
  <a href="#products/1/" class="buttonBar selected white">
    Mini
    <div class="rating">
      <span class="star fill"></span>
      <span class="star fill"></span>
      <div class="half"><span class="star fill"></span></div>
      <div class="half"><span class="star"></span></div>
      <span class="star"></span>
      <span class="star"></span>
      <div class="count">5</div>
    </div>
    <div class="arrow black left"></div>
  </a>
  <div class="gallery">
    <img src="imgs/product.png" width="100%" />
  </div>
  <div class="more">
    <div class="desc">product description</div>
    <div class="price">$20.00</div>
  </div>
  <div class="sectionBar clickable">Write a review</div>
  <div class="review">
    <div class="profilePic"><img src="imgs/1014460_10152343683902856_7160331529507333492_n.jpg" width="40" /></div>
    <div class="firstLine">
      <div class="name">Tim</div>
      <div class="rating">
        <span class="star fill"></span>
        <span class="star fill"></span>
        <div class="half"><span class="star fill"></span></div>
        <div class="half"><span class="star"></span></div>
        <span class="star"></span>
        <span class="star"></span>
      </div>
      <div class="timeago">2 hours ago</div>
    </div>
    <div class="comment">Amazing.</div>
  </div>
  <div class="review">
    <div class="profilePic"><img src="imgs/1965_586493132127_2774_n.jpg" width="40" /></div>
    <div class="firstLine">
      <div class="name">Des</div>
      <div class="rating">
        <span class="star fill"></span>
        <span class="star fill"></span>
        <div class="half"><span class="star fill"></span></div>
        <div class="half"><span class="star"></span></div>
        <span class="star"></span>
        <span class="star"></span>
      </div>
      <div class="timeago">2 hours ago</div>
    </div>
    <div class="comment">Amazing.</div>
  </div>
  <div class="review">
    <div class="profilePic"><img src="imgs/1779042_10100790113803627_1754682324_n.jpg" width="40" /></div>
    <div class="firstLine">
      <div class="name">Ronald</div>
      <div class="rating">
        <span class="star fill"></span>
        <span class="star fill"></span>
        <div class="half"><span class="star fill"></span></div>
        <div class="half"><span class="star"></span></div>
        <span class="star"></span>
        <span class="star"></span>
      </div>
      <div class="timeago">2 hours ago</div>
    </div>
    <div class="comment">Amazing.</div>
  </div>
  <div class="review">
    <div class="profilePic"><img src="imgs/1972415_10101820706751360_90584741_n.jpg" width="40" /></div>
    <div class="firstLine">
      <div class="name">Drew</div>
      <div class="rating">
        <span class="star fill"></span>
        <span class="star fill"></span>
        <div class="half"><span class="star fill"></span></div>
        <div class="half"><span class="star"></span></div>
        <span class="star"></span>
        <span class="star"></span>
      </div>
      <div class="timeago">2 hours ago</div>
    </div>
    <div class="comment">Amazing.</div>
  </div>
  <div class="review">
    <div class="profilePic"><img src="imgs/10246350_10101862253037270_7545424978042334250_n.jpg" width="40" /></div>
    <div class="firstLine">
      <div class="name">Christine</div>
      <div class="rating">
        <span class="star fill"></span>
        <span class="star fill"></span>
        <div class="half"><span class="star fill"></span></div>
        <div class="half"><span class="star"></span></div>
        <span class="star"></span>
        <span class="star"></span>
      </div>
      <div class="timeago">2 hours ago</div>
    </div>
    <div class="comment">Amazing.</div>
  </div>
</div>