<div class="outerCircle">
  <img src="imgs/paintlounge_card.png" width="100%" />
  <div class="innerCircle">
    <div class="text">Scan Code</div>
    <div id="container">
    </div>
  </div>
  <a href="#leaderboards" class="badge top5">1<sup>st</sup></a>
  <div class="counter">
    <span class="current">-</span>/10
  </div>
</div>
<div class="rewards">
  <a href="#rewards" class="reward claim">
    Claim your Community Reward!
    <div class="arrow right white"></div>
  </a>
  <a href="#rewards" class="reward">
    {{10-stamps}} more until your first reward!
  </a>
</div>
<script type="text/javascript" src="js/matter-0.8.0.min.js"></script>
<script type="text/javascript" src="js/container2.js"></script>